.App {
  top: 25%;
  left: 50%;
  padding: 10px;
  background-color: azure;
}

#editor {
  width: 75vw;
  max-width: 500px;
}

#preview {
  width: 90vw;
  max-width: 630px;
  border:1px solid black;
  overflow-wrap: break-word;
  padding: 10px
}

code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}

pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}

img {
  height: 100%; 
  width: 100%; 
  object-fit: contain;
}